<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사원 정보</title>
</head>
<body>
	<div>
		<div>
			<label id="employeeId">사원번호</label>
			<input type="text" id="employeeId" th:value="${empinfo.employeeId}" readOnly>
		</div>
		<div>
			<label id="name">이름</label>
			<input type="text" id="name" th:value="${#strings.isEmpty(empinfo.firstName) ? empinfo.lastName : empinfo.lastName + ','+empinfo.firstName}" readOnly>
		</div>
		<div>
			<label id="email">이메일</label>
			<input type="text" id="email" th:value="${empinfo.email}" readOnly>
		</div>
		<div>
			<label id="hireDate">입사일</label>
			<input type="text" id="hireDate" th:value="${#dates.format(empinfo.hireDate, 'yyyy-MM-dd')}" readOnly>
		</div>
		<div>
			<label id="job">업무</label>
			<input type="text" id="job" th:value="${empinfo.jobId}" readOnly>
		</div>
		<div>
			<button type="button" th:onclick="|location.href='@{/empList}'|">목록</button>
		</div>
	</div>
</body>
</html>